---
interface Props {
  nameproyect: string;
  descriptionp: string;
  imagenp: string;
  repoUrl: string;
  liveUrl: string;
  technologies?: string[];
}

const {
  nameproyect = "",
  descriptionp = "",
  imagenp = "",
  repoUrl = "",
  liveUrl = "",
  technologies = []
} = Astro.props as Partial<Props>;
---

<section id="portafolio" class="bg-gray-900 py-10">
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-between px-4">
    <div class="md:w-1/2 mb-6 md:mb-0">
      <h1 class="text-4xl font-bold text-white text-center md:text-left">
        {nameproyect}
      </h1>
      <p class="mt-4 text-lg text-gray-300 text-left">{descriptionp}</p>

      {technologies && technologies.length > 0 && (
        <div class="mt-4">
          <h4 class="text-yellow-400 font-bold">Tecnologías Utilizadas:</h4>
          <ul class="list-disc list-inside text-gray-300">
            {technologies.map((tech, index) => (
              <li class="mt-1">{tech}</li> 
            ))}
          </ul>
        </div>
      )}

      <div class="flex items-center mt-6">
        <a
          href={repoUrl}
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-300 hover:text-yellow-400 mr-4"
        >
          <i class="fab fa-github fa-lg"></i>
        </a>
        <a
          href={liveUrl}
          target="_blank"
          rel="noopener noreferrer"
          class="bg-yellow-400 text-gray-900 font-bold py-2 px-4 rounded transition duration-200 hover:bg-yellow-500"
        >
          Visitar Página
        </a>
      </div>
    </div>
    <div class="md:w-1/2 flex justify-center">
      <img class="rounded-lg shadow-lg w-full h-auto max-w-md" src={imagenp} alt={nameproyect} />
    </div>
  </div>
</section>
